/tmp
/data/*
*.code-workspace
*/_obsolete
*/data/*
_obsolete
*/geckodriver.log
geckodriver.log
selenium/geckodriver.log
!/data/reference/
!/data/cached-responses/
!/data/datasette/
/data/cached-responses/*
/testbench/
*/scraping.log